{% extends "cv_manager/base.html" %}
{% load staticfiles %}

{% block sidebar %}
{% load bootstrap3 %}
        <h3 class="sub-header"><strong>Фильтры:</strong></h3>
         <form action="{% url 'cv_manager:cv_list' %}" autocomplete="off">

            <h4>Дата заполнения:</h4>
                {% bootstrap_form filter %}

              <div class="form-group">
                  <button type="submit" class="btn btn-primary">Показать</button>
              </div>
         </form>
{% endblock %}


{% block sub_header %}
<div class="row crumb">

        <ol class="breadcrumb breadcrumb-arrow">

            <li class="active"><span>База резюме</span></li>
        </ol>

</div>
{% endblock %}






{% block table_main %}
<div class="row">
        <div class="panel panel-primary main_panel">
            <div class="panel-heading">
                <h3 class="panel-title">БАЗА РЕЗЮМЕ</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped" id="cv_table">
                        <thead>
                          <th>Дата заполнения</th>
                          <th>ФИО</th>
                          <th>Должность</th>
                          <th>Телефон</th>
                          <th>Место заполнения</th>
                          <th>Статус резюме</th>
                          <th>Редактирование</th>
                        </thead>
                        <tbody>
                          {% for person in persons %}
                          <tr>
                            <td>{{ person.fill_date|date:"d.m.Y" }}</td>
                            <td><a href="{% url 'cv_manager:cv_detail' person_id=person.id %}">{{ person.full_name }}</a></td>
                            <td>{{ person.position }}</td>
                            <td>{{ person.phone }}</td>
                            <td>{{ person.fill_location.describe }}</td>
                            <td>{{ person.last_state }}</td>
                            <td><a href="{% url 'cv_manager:cv_update' person_id=person.id %}"><img style="	width: 28px;" src="{% static 'cv_manager/img/edit.png' %}" alt="Редактировать"></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_block %}

<script type="text/javascript" src="{% static 'candidate/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'candidate/js/bootstrap-datetimepicker.ru.js' %}"></script>
<script src="{% static 'cv_manager/js/list.js' %}"></script>
{% endblock %}