<!DOCTYPE html>
<html lang="ru-RU">
<head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="{% static 'candidate/css/index_style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'candidate/js/index.js' %}"></script>
    <title>Анкета кандидата</title>
</head>
<body>
    <header>
        <h1>Анкета кандидата</h1>
        <p>Внимание! Все пункты обязательны для заполнения.</p>
        <p>Мы не гарантируем Вам трудоустройство, но Ваша анкета будет храниться в нашем кадровом банке, и
            мы обязательно свяжемся с Вами, если увидим в Вас, потенциального кандидата на конкретную вакансию
        </p>
    </header>
    <div class="content">
        <form class="main" action="{% url 'candidate:index' %}" method="post">
            {% csrf_token %}
            <div class="block">
                <h3 class="block-header">Личные данные</h3>
                <div class="content-row">
                    <lable class="description" for="id_position">Должность: </lable>
                    <br>
                    {{ form.position }}
                </div>
                <div class="content-row">
                    <lable class="description" for="id_full_name">Фамилия, имя и отчество: </lable>
                    <br>
                    {{ form.full_name }}
                </div>
                <div class="content-row">
                    <lable class="description" for="id_birthday">Дата рождения: </lable>
                    <br>
                    {{ form.birthday }}
                </div>
                <div class="content-row">
                    <lable class="description" for="id_sex">Пол: </lable>
                    <br>
                    {{ form.sex }}
                </div>
            </div>
            <div class="block">
                <h3 class="block-header">Адрес прописки</h3>
                <div class="content-row">
                    <lable class="description" for="id_registration">Адрес прописки:</lable>
                    <br>
                    {{ form.registration }}
                </div>
            </div>
            <div class="block">
                <h3 class="block-header">Адрес проживания</h3>
                <div class="content-row" id="residence_js">
                    <lable class="description" for="id_position">Как в прописке?</lable>
                    <br>
                    <input type="radio" id="residence_yes" onclick="addResidence(this.id)" name="residence" value="True">
                    <lable class="radio_lable" for="residence_yes">Да</lable>
                    <br>
                    <input type="radio" id="residence_not" onclick="addResidence(this.id)" name="residence" value="False">
                    <lable class="radio_lable"  for="residence_not">Нет</lable>
                    <br>
                </div>
            </div>






<!--'birthday', 'sex', 'registration', 'residence', 'phone', 'children',-->








            <input type="submit" id="sub_button" value="Save"/>


        </form>
    </div>









</body>
</html>