<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!--<link type="text/css" href="main.css" rel="stylesheet">-->
    <title>Анкета кандидата</title>
    <script>
        var items=1;
        function AddItem() {
        if (items<2){
            div=document.getElementById("items");
            button=document.getElementById("add");
            items++;
            newitem="<textarea name=\"item" + items;
            newitem+="\" rows=\"2\" cols=\"50\" ></textarea><br>";
            newnode=document.createElement("span");
            newnode.innerHTML=newitem;
            div.insertBefore(newnode, button);
            }
        }
    </script>
    <script>
        var items=1;
        function AddEdu() {
            div=document.getElementById("education");
            button=document.getElementById("edu_add");
            items++;
            newitem="<textarea name=\"item" + items;
            newitem+="\" rows=\"2\" cols=\"50\" ></textarea><br>";
            newnode=document.createElement("span");
            newnode.innerHTML=newitem;
            div.insertBefore(newnode, button);
            }
    </script>

</head>
<body>
    <div class="h1">
        <h1>Анкета кандидата</h1>
    </div>

    <div class="container">
        <div class="paragraph">
            <p>Внимание! Все пункты обязательны для заполнения.</p>
        </div>
        <div class="paragraph">
            <p>Мы не гарантируем Вам трудоустройство, но Ваша анкета будет храниться в нашем кадровом банке,<br>
                и мы обязательно свяжемся с Вами, если увидим в Вас,<br>
                потенциального кандидата на конкретную вакансию
            </p>
        </div>


    <div class="form">
        <form class="main" action="{% url 'candidate:thanks' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                { form.position }
            </div>
            <div class="form-row">
                { form.full_name }
            </div>














            <input type="submit" value="Save"/>
        </form>
    </div>







    </div>

</body>
</html>