{% extends "vc_manager/base.html" %}

{% block body %}
<div class="row">
         <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Выполненные работы</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" id="service_table">
                  <thead>
                    <th>Дата заполнения</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Телефон</th>
                    <th>Статус резюме</th>
                  </thead>
                <tbody>
                  {% for person in persons %}
                  <tr>
                    <td>{{ person.fill_date|date:"d.m.Y H:i" }}</td>
                    <td>{{ person.full_name }}</td>
                    <td>{{ person.position }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.last_state }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
        </div>
        </div>
    </div>
{% endblock %}